* {
    padding: 0px;
    margin: 0px;
}
nav {
    display: flex;
    padding: 10px;
    background-color: #2e2d2d;
}
nav div {
    padding: 10px;
    background-color: #2e2d2d;
}
.input_search {
    color: white;
    padding: 10px;
    width: 300px;
    outline: 0;
    border: 1px solid #252525;
    border-radius: 4px;
    border-width: 0 0 2px 0;
}
.input_search:focus {
    border-color: #2f81f7;
}
.links {
    text-decoration: none;
    padding: 8px;
    color: white;
    line-height: 2.2rem;
    border-radius: 4px;
}
a:hover {
    background-color: #2f81f7;
    transition: 0.3s;
}
a.active {
    background-color: #2f81f7;
}