.p_categories_div {
    display: flex;
    justify-content: center;
}
.p_categories_message {
    text-transform: capitalize;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
ul {
    text-align: center;
}
ul>li {
    padding: 5px;
}
ul>li>a {
    text-decoration: none;
    color: white;
}