.p_cat_details_div {
  display: flex;
  justify-content: center;
}
.p_cat_details_message {
  text-transform: capitalize;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
.back-link-div {
  text-align: center;
}
.back-link-div > a {
  text-decoration: none;
  color: white;
}
